/******************************** 
 * APP STYLES
 ********************************/

  /* BEGIN General Styles
 ------------------------------*/

  /* Color Variables */

  :root {
    --background: #4E638E;
    --white: rgb(211, 201, 201);
    --black: #000;
    
    --contrast: #C68300


/* .color-primary-0 { color: #062F84 }	Main Primary color
.color-primary-1 { color: #7788AA }
.color-primary-2 { color: #4E638E }
.color-primary-3 { color: #152A55 }
.color-primary-4 { color: #061639 }

.color-complement-0 { color: #C68300 }	Main Complement color
.color-complement-1 { color: #FFE2AA }
.color-complement-2 { color: #D4B06A }
.color-complement-3 { color: #805B15 }
.color-complement-4 { color: #553800 } */
  }

  * {
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: 'Merriweather Sans','Poppins', 'Quicksand', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--background);
    text-decoration: none;
    min-height: 100vh;
  }

  /* END General Styles
 ------------------------------*/